<div class="row menu">
  <div class="large-8 large-centered columns right">
  <%= link_to '新規追加', new_article_path, class: "button small success radius" %>
  </div>
</div>
<div class="list">
  <% @articles.each do |article| %>
    <article>
      <div class="row">
        <h1 class="large-8 large-centered columns"><%= article.title %></h1>
      </div>
      <div class="row">
        <div class="large-8 large-centered columns right">
          <small class="date"><%= article.updated_at %></small>
        </div>
      </div>
      <div class="row">
        <div class="large-8 large-centered columns">
          <%= article.content %>
        </div>
      </div>
      <div class="row">
        <div class="large-8 large-centered columns">
          <%= link_to '編集する', edit_article_path(article), :class => "large-2 columns" %>
          <%= link_to '削除する', article, method: :delete, data: { confirm: '本当に削除しますか？' }, :class => "large-2 columns" %>
          <%= link_to 'もっと見る', article, :class => "large-8 columns right" %>
        </div>
      </div>
    </article>
  <% end %>
</div>